.container p {
  -webkit-app-region: drag;
  user-select: none;
  padding-left:10px;
}

.title{
  font-size: 14px;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.mainBlock {
  position: relative;
  padding-left:40px;
  min-height: 42px;
  margin-top:10px;
}

.order {
  position: absolute;
  font-size: 2em;
  left:0px;
}

.mainText{
  font-size: .9em;
}