/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

* {
  font-family: -apple-system, BlinkMacSystemFont, '微软雅黑', 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.background {
  width: 250px;
  height: 400px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: -1;

  /* 不透明 */
  /* background-color: #000;
      opacity: .1;
  background-image: url(./img/bg.png);
  background-size:cover; */
  /* filter: blur(1px) */

  /* 透明 */
  background-color: #fee5e8;
  opacity: 0.3;
  border-radius: 5px;
}

body {
  /* -webkit-app-region: drag; */
  margin: 0;
  position: relative;
  color: #fff;
  height: 100vh;
  /* background: linear-gradient( to bottom, rgba(242, 212, 13, 1) 0%, rgba(242, 212, 13, 1) 68%, rgba(247, 226, 86, 1) 100%); */
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
  font-weight: bold;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

#root {
  height: 100%;
  width: 100%;
  position: fixed;
}
