.container {
  /* overflow: auto; */
  transition: transform 0.2s;
}

.container p {
  -webkit-app-region: drag;
  user-select: none;
  padding-left: 18px;
}

.title {
  font-size: 14px;
  margin: 0;
  padding: 14px;
}

.container h2 {
  font-size: 5rem;
}

.mainList {
  padding: 0 0 0 8px;
  margin: 0;
  height: calc(400px - 47px);
  overflow: auto;
  /* width: 100%; */
}

/* ::-webkit-scrollbar-thumb {
  background-color: #fee5e8;
  height: 50px;
  border-radius: 8px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:hover {
  opacity: 0.1;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(254, 229, 232, 0.13);
  border-radius: 5px;
} */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  height: 50px;
  outline-offset: -3px;
  outline: 3px solid rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 6px;
  border: 3px solid rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 3px;
}
