.page {
  position: fixed;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: transparent;
  /* opacity: 0.95; */
  transition: top 0.2s ease;
  border-radius: 5px;
  overflow: auto;
  will-change: filter;
}

.page_blur {
  animation: blur 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  filter: blur(10px);
}

@keyframes blur {
  0% {
    filter: blur(0px);
  }
  50% {
    filter: blur(5px);
  }
  100% {
    filter: blur(10px);
  }
}

.titleBlock {
  margin: 0;
  overflow: hidden;
  line-height: 1;
  padding: 10px 0px;
  user-select: none;
  position: relative;
}

.title {
  white-space: nowrap;
  font-size: 14px;
  margin: 0;
  padding: 5px 20px;
  line-height: 1;
  border-top: 10px solid rgba(254, 229, 232, 0.1);
  border-left: 38.5px solid rgba(254, 229, 232, 0.1);
  border-right: 38.5px solid rgba(254, 229, 232, 0.1);
}

.title svg {
  font-size: 1.2em;
  transform: translateY(20%);
}

.titleBlock .titleFace {
  position: absolute;
  font-size: 1em;
  top: 15px;
  transform: translateY(-10%);
}

.titleFace_left {
  left: 7.25px;
}

.titleFace_right {
  left: calc(-31.25px + 100vw);
}

.input {
  width: 100%;
  border: none;
  display: flex;
  border-bottom: 1px solid #fee5e8;
  background-color: transparent;
  color: #fff;
  outline: none;
  padding: 4px 0 4px 0;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.textarea {
  width: 100%;
  resize: none;
  outline: none;
  height: 100px;
  border: none;
  border-bottom: 1px solid #fee5e8;
  background-color: transparent;
  display: block;
  color: #fff;
  padding: 0;
  padding: 8px 0 8px 0;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.textarea::-webkit-input-placeholder,
.input::-webkit-input-placeholder {
  color: #ccc;
}

textarea:focus,
input:focus,
textarea:hover,
input:hover,
input[type]:focus,
.uneditable-input:focus {
  border-color: #fcc1c8;
  box-shadow: 0 -1px 1px #fcc1c8 inset, 0 1px 1px -1px #fcc1c8;
  /* box-shadow:  */
  outline: 0 none;
}

.img {
  width: 100%;
  padding-right: 8px;
  box-sizing: border-box;
  display: block;
}

.checkbox-Block {
  font-size: 0;
  margin-bottom: 8px;
}

.checkbox-Element {
  margin-bottom: 2px;
  line-height: 1;
  font-size: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checkbox {
  width: 10px;
  height: 10px;
  display: inline-block;
  overflow: hidden;
  border: 1px solid #fff;
  margin-right: 4px;
}

.checkbox_active::after {
  content: '';
  display: block;
  width: 10px;
  height: 5px;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  transform: rotate(-45deg);
}

.picker-toggle {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}

.date-selector {
  flex: 1;
  border: none;
  display: block;
  background-color: transparent;
  color: #fff;
  outline: none;
  box-sizing: border-box;
}

.date-selector:hover,
.date-selector:focus {
  box-shadow: none;
  outline: 0 none;
}

.date-selector::-webkit-input-placeholder {
  color: #ccc;
}
